@model YelloSplit.Models.Registration

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>registration</title>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/scss/main.css">
    <link rel="stylesheet" href="~/scss/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./script/index.js"></script>
   
</head>
    <body id="wrapper" class="orange">

        <section id="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 top-header-links">
                        <ul class="contact_links">
                            <li><i class="fa fa-phone"></i><a href="#">+91 848 594 5080</a></li>
                            <li><i class="fa fa-envelope"></i><a href="#">info@yellowsplit.co.za</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="social_links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </section>

        <header>
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <h1>YELLOW</h1><span>SPLIT</span>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li ><a href="~/Site/Home">Home</a></li>
                            <li><a href="~/Site/features">Features</a></li>
                            <li><a href="~/Site/about">About</a></li>
                            <li><a href="~/Site/contact">Contact</a></li>
                            <li><a href="~/Site/login">Sign In</a></li>
                            <li class="active"><a href="~/Site/registration">Sign Up</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
            <!--/.nav-ends -->
        </header>

        <section id="top_banner">
            <div class="banner">
                <div class="inner text-center">
                    <h2>Sign Up</h2>
                </div>
            </div>
        </section>



        <section id="login-reg">
            <div class="container">
                <!-- Top content -->
                <div class="row">
                    <div class="col-md-6 col-sm-12 forms-right-icons">
                        <div class="section-heading">
                            <h2>Sign Up With <span>Us</span></h2>
                            <p class="subheading">
                               Sign up with us and get to meet up with the best in the game.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 icon"><i class="fa fa-laptop"></i></div>
                            <div class="col-xs-10 datablock">
                                <h4>100% Responsive</h4>
                                <p>Our app is 100% responsive to all devices.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 icon"><i class="fa fa-bullhorn"></i></div>
                            <div class="col-xs-10 datablock">
                                <h4>Powerful Features</h4>
                                <p>we have powerfull tools in our app that will help you create some record breaking products.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 icon"><i class="fa fa-support"></i></div>
                            <div class="col-xs-10 datablock">
                                <h4>Customer Support</h4>
                                <p></p>
                            </div>
                        </div>

                    </div>
                    <!--forms-right-icons-->
                    <div class="col-md-6 col-sm-12">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Sign up now</h3>
                                    <p>Fill in the form below to get instant access</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" class="login-form" asp-action="Reg">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="input-group form-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1" asp-for="FirstName" id="FirstName">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="input-group form-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1" asp-for="LastName" id="LastName">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="input-group form-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                                        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1" asp-for="EmailAddress">
                                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                    </div>
                                    <div class="input-group form-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-phone"></i></span>
                                        <input type="tel" class="form-control" placeholder="Phone No." aria-describedby="basic-addon1" asp-for="PhoneNo">
                                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                    </div>
                                    <div class="input-group form-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                        <input type="Password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" asp-for="Password" id="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="input-group form-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>
                                        <input type="Password" class="form-control" placeholder="RetypePassword" aria-describedby="basic-addon1" asp-for="RetypePassword" id="RetypePassword">
                                        <span asp-validation-for="RetypePassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        @*<i></i>nput type="text" class="form-control" placeholder="ApplicationType" aria-describedby="basic-addon1" asp-for="ApplicationType">*@
                                        @*<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user"></i></span>*@
                                        <select id="ApplicationType" class="form-control" placeholder="ApplicationType" asp-for="ApplicationType">
                                            <option id="ApplicationType">MUSIC</option>
                                            <option id="ApplicationType">FASHISON</option>
                                        </select>
                                        <span asp-validation-for="ApplicationType" class="text-danger"></span>

                                    </div>
                                    <button type="submit" class="btn">Sign me up!</button>
                          
                            </form>
                        </div>
                        </div>

                    </div>


        </section>

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 block">
                        <div class="footer-block">
                            <h4>Address</h4>
                            <hr />
                            <p>
                                Yello Split 185, Smith Steet, Fairland Randburg, 5 Zotos House, Johannesburg
                            </p>
                            <a href="#" class="learnmore">Learn More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 block">
                        <div class="footer-block">
                            <h4>Useful Links</h4>
                            <hr />
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Sign In</a></li>
                                <li><a href="#">Sign Up</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 block">
                        <div class="footer-block">
                            <h4>Community</h4>
                            <hr />
                            <ul class="footer-links">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Forum</a></li>
                                <li><a href="#">Free Goods</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12 <block></block>">
                        <div class="footer-block">
                            <h4>Recent Posts</h4>
                            <hr />
                            <ul class="footer-links">
                                <li>
                                    <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                    <p class="post-date">May 25, 2017</p>
                                </li>
                                <li>
                                    <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                    <p class="post-date">May 25, 2017</p>
                                </li>
                                <li>
                                    <a href="#" class="post">Lorem ipsum dolor sit amet</a>
                                    <p class="post-date">May 25, 2017</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section id="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Use</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                        Developed by <a href="www.aceendsit.co.za">Ace Ends IT</a> designed by <a href="www.aceendsit.co.za">Designing Team</a>
                    </div>
                </div>
            </div>
        </section>


    </body>
    </html>






































    @*<h4>Registration</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="registration">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ApplicationType" class="control-label"></label>
                    <input asp-for="ApplicationType" class="form-control" />
                    <span asp-validation-for="ApplicationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RetypePassword" class="control-label"></label>
                    <input asp-for="RetypePassword" class="form-control" />
                    <span asp-validation-for="RetypePassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    </body>
    </html>*@
